################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ContosoCraftsWebsite/bin/Debug/net5.0
/ContosoCraftsWebsite/bin/Release/net5.0
/ContosoCraftsWebsite/obj/Debug/net5.0/RazorDeclaration/ContosoCraftsWebsite.dll
/ContosoCraftsWebsite/obj/Debug/net5.0/RazorDeclaration/ContosoCraftsWebsite.pdb
/ContosoCraftsWebsite/obj/Debug/net5.0/ref
/ContosoCraftsWebsite/obj/Debug/net5.0/staticwebassets
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.AssemblyInfoInputs.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.csproj.AssemblyReference.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.assets.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.csproj.CopyComplete
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.csproj.FileListAbsolute.txt
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.csproj.CoreCompileInputs.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.GeneratedMSBuildEditorConfig.editorconfig
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.dll
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.MvcApplicationPartsAssemblyInfo.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.genruntimeconfig.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.pdb
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.RazorAssemblyInfo.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.RazorComponent.input.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.RazorComponent.output.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.RazorCoreGenerate.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.RazorTargetAssemblyInfo.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.TagHelpers.input.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.Views.dll
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.TagHelpers.output.cache
/ContosoCraftsWebsite/obj/Debug/net5.0/ContosoCraftsWebsite.Views.pdb
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/wwwroot/css
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/wwwroot/js
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/wwwroot/lib
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/wwwroot/favicon.ico
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/appsettings.Development.json
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/ContosoCraftsWebsite.deps.json
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/ContosoCraftsWebsite.dll
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/ContosoCraftsWebsite.pdb
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/ContosoCraftsWebsite.Views.dll
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/Out/ContosoCraftsWebsite.Views.pdb
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/ContosoCraftsWebsite.SourceManifest.xml
/ContosoCraftsWebsite/obj/Release/net5.0/PubTmp/ContosoCraftsWebsite.Parameters.xml
/ContosoCraftsWebsite/obj/Release/net5.0/RazorDeclaration/ContosoCraftsWebsite.dll
/ContosoCraftsWebsite/obj/Release/net5.0/RazorDeclaration/ContosoCraftsWebsite.pdb
/ContosoCraftsWebsite/obj/Release/net5.0/ref
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.RazorTargetAssemblyInfo.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.RazorCoreGenerate.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.RazorComponent.output.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.RazorComponent.input.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.RazorAssemblyInfo.cs
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.RazorAssemblyInfo.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.pdb
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.MvcApplicationPartsAssemblyInfo.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.genruntimeconfig.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.GeneratedMSBuildEditorConfig.editorconfig
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.dll
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.csproj.FileListAbsolute.txt
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.csproj.CoreCompileInputs.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.csproj.CopyComplete
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.csproj.AssemblyReference.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.assets.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.AssemblyInfoInputs.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.AssemblyInfo.cs
/ContosoCraftsWebsite/obj/Release/net5.0/PublishOutputs.5cd6d5a803.txt
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.Views.pdb
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.Views.dll
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.TagHelpers.output.cache
/ContosoCraftsWebsite/obj/Release/net5.0/ContosoCraftsWebsite.TagHelpers.input.cache
/ContosoCraftsWebsite/obj/ContosoCraftsWebsite.csproj.nuget.g.targets
/ContosoCraftsWebsite/obj/ContosoCraftsWebsite.csproj.nuget.g.props
/ContosoCraftsWebsite/Properties/PublishProfiles/ContosoCraftsWebsite20210811122554 - Web Deploy.pubxml
/ContosoCraftsWebsite/wwwroot/lib/jquery-validation
/ContosoCraftsWebsite/wwwroot/lib/jquery/dist
/ContosoCraftsWebsite/wwwroot/css
*.json
/ContosoCraftsWebsite/obj/project.nuget.cache
/ContosoCraftsWebsite/wwwroot/js
/ContosoCraftsWebsite/wwwroot/favicon.ico
/ContosoCraftsWebsite/obj/Release/net5.0/staticwebassets
